In [1]:
#To import pandas library
import pandas as pd

In [2]:
# To access dataset into dataframe
datav1= pd.read_csv('vehicles.csv')

In [3]:
#Display column names
datav1.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [19]:
#copy first 50 rows into new dataframe datav2
datav2= datav1.head(5)

In [52]:
# display or access contents of more than one column
datav2[['id','url','region']]

,id,url,region
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro
5,7222379453,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley
6,7221952215,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley
7,7220195662,https://hudsonvalley.craigslist.org/cto/d/poug...,hudson valley
8,7209064557,https://medford.craigslist.org/cto/d/grants-pa...,medford-ashland
9,7219485069,https://erie.craigslist.org/cto/d/erie-2012-su...,erie
10,7218893038,https://elpaso.craigslist.org/ctd/d/el-paso-20...,el paso
11,7218325704,https://elpaso.craigslist.org/ctd/d/el-paso-20...,el paso
12,7217788283,https://elpaso.craigslist.org/ctd/d/el-paso-20...,el paso
13,7217147606,https://elpaso.craigslist.org/ctd/d/el-paso-20...,el paso
14,7209027818,https://elpaso.craigslist.org/ctd/d/el-paso-20...,el paso
15,7223509794,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham
16,7222753076,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham
17,7222206015,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham
18,7220030122,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham
19,7218423006,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham
20,7216672204,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham
21,7215617048,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham
22,7213839225,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham
23,7208549803,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham
24,7213843538,https://skagit.craigslist.org/ctd/d/bellingham...,skagit / island / SJI
25,7212631321,https://skagit.craigslist.org/ctd/d/bellingham...,skagit / island / SJI
26,7219973522,https://lacrosse.craigslist.org/cto/d/la-cross...,la crosse
27,7316814884,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn
28,7316814758,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn
29,7316814989,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn
30,7316743432,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn
31,7316356412,https://auburn.craigslist.org/cto/d/auburn-uni...,auburn
32,7316343444,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn
33,7316304717,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn
34,7316285779,https://auburn.craigslist.org/cto/d/auburn-201...,auburn
35,7316257769,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn
36,7316133914,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn
37,7316130053,https://auburn.craigslist.org/cto/d/opelika-19...,auburn
38,7315816316,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn
39,7315770394,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn
40,7315756348,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn
41,7315715960,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn
42,7315379459,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn
43,7315275975,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn
44,7315275942,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn
45,7315270785,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn
46,7315039307,https://auburn.craigslist.org/ctd/d/auburn-999...,auburn
47,7314910156,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn
48,7314854462,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn
49,7314811916,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn

In [21]:
# Display data of dataframe
datav2

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [22]:
## Multiple row and column selections using iloc and DataFrame
#The iloc indexer syntax is data.iloc[<row selection>, <column selection>]
datav2.iloc[0:5] # first five rows of dataframe

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [23]:
datav2.iloc[:, 0:1] # first two columns of data frame with all rows

           id
0  7222695916
1  7218891961
2  7221797935
3  7222270760
4  7210384030

In [24]:
datav1.iloc[[0,3,6,24], [0,5,6]] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.

            id  year manufacturer
0   7222695916   NaN          NaN
3   7222270760   NaN          NaN
6   7221952215   NaN          NaN
24  7213843538   NaN          NaN

In [25]:
datav2.iloc[0:5, 5:8] # first 5 rows and 5th, 6th, 7th columns of data frame

   year manufacturer model
0   NaN          NaN   NaN
1   NaN          NaN   NaN
2   NaN          NaN   NaN
3   NaN          NaN   NaN
4   NaN          NaN   NaN

In [26]:
#Display single column or to access single column
datav2['region']

0                  prescott
1              fayetteville
2              florida keys
3    worcester / central MA
4                greensboro
Name: region, dtype: object

In [27]:
#display single row using slicing
datav2[0:2]

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN

In [28]:
# another way to access contents of more than one column
list1 = ['id','url','region']
datav2[list1]

,id,url,region
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro

In [29]:
# create new dataframe of 50 rows and three columns
datav3=datav2.iloc[0:50,0:3]

In [30]:
# enables us to select a particular cell of the dataset
datav2.iloc[0:8,0:4]

,id,url,region,region_url
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org

In [31]:
datav2 = datav2.drop('url', axis=1)   #drop particular column

In [57]:
datav2

,id,region,region_url,price,year,manufacturer,model,condition,cylinders,fuel,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN
5,7222379453,hudson valley,https://hudsonvalley.craigslist.org,1600,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
6,7221952215,hudson valley,https://hudsonvalley.craigslist.org,1000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
7,7220195662,hudson valley,https://hudsonvalley.craigslist.org,15995,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
8,7209064557,medford-ashland,https://medford.craigslist.org,5000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,or,NaN,NaN,NaN
9,7219485069,erie,https://erie.craigslist.org,3000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,pa,NaN,NaN,NaN
10,7218893038,el paso,https://elpaso.craigslist.org,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN
11,7218325704,el paso,https://elpaso.craigslist.org,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN
12,7217788283,el paso,https://elpaso.craigslist.org,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN
13,7217147606,el paso,https://elpaso.craigslist.org,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN
14,7209027818,el paso,https://elpaso.craigslist.org,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN
15,7223509794,bellingham,https://bellingham.craigslist.org,13995,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
16,7222753076,bellingham,https://bellingham.craigslist.org,24999,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
17,7222206015,bellingham,https://bellingham.craigslist.org,21850,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
18,7220030122,bellingham,https://bellingham.craigslist.org,26850,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
19,7218423006,bellingham,https://bellingham.craigslist.org,11999,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
20,7216672204,bellingham,https://bellingham.craigslist.org,24999,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
21,7215617048,bellingham,https://bellingham.craigslist.org,21850,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
22,7213839225,bellingham,https://bellingham.craigslist.org,26850,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
23,7208549803,bellingham,https://bellingham.craigslist.org,11999,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
24,7213843538,skagit / island / SJI,https://skagit.craigslist.org,24999,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
25,7212631321,skagit / island / SJI,https://skagit.craigslist.org,21850,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
26,7219973522,la crosse,https://lacrosse.craigslist.org,500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wi,NaN,NaN,NaN
27,7316814884,auburn,https://auburn.craigslist.org,33590,2014.0,gmc,sierra 1500 crew cab slt,good,8 cylinders,gas,...,NaN,pickup,white,https://images.craigslist.org/00R0R_lwWjXSEWNa...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-04T12:31:18-0500
28,7316814758,auburn,https://auburn.craigslist.org,22590,2010.0,chevrolet,silverado 1500,good,8 cylinders,gas,...,NaN,pickup,blue,https://images.craigslist.org/00R0R_lwWjXSEWNa...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-04T12:31:08-0500
29,7316814989,auburn,https://auburn.craigslist.org,39590,2020.0,chevrolet,silverado 1500 crew,good,8 cylinders,gas,...,NaN,pickup,red,https://images.craigslist.org/01212_jjirIWa0y0...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-04T12:31:25-0500
30,7316743432,auburn,https://auburn.craigslist.org,30990,2017.0,toyota,tundra double cab sr,good,8 cylinders,gas,...,NaN,pickup,red,https://images.craigslist.org/00x0x_1y9kIOzGCF...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-04T10:41:31-0500
31,7316356412,auburn,https://auburn.craigslist.org,15000,2013.0,ford,f-150 xlt,excellent,6 cylinders,gas,...,full-size,truck,black,https://images.craigslist.org/00404_l4loxHvdQe...,2013 F-150 XLT V6 4 Door. Good condition. Leve...,NaN,al,32.5920,-85.518900,2021-05-03T14:02:03-0500
32,7316343444,auburn,https://auburn.craigslist.org,27990,2012.0,gmc,sierra 2500 hd extended cab,good,8 cylinders,gas,...,NaN,pickup,black,https://images.craigslist.org/00V0V_ftJbKrOgdi...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-03T13:41:25-0500
33,7316304717,auburn,https://auburn.craigslist.org,34590,2016.0,chevrolet,silverado 1500 double,good,6 cylinders,gas,...,NaN,pickup,silver,https://images.craigslist.org/00E0E_iKN07Sh7ou...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-03T12:41:33-0500
34,7316285779,auburn,https://auburn.craigslist.org,35000,2019.0,toyota,tacoma,excellent,6 cylinders,gas,...,NaN,truck,grey,https://images.craigslist.org/00101_dXoZTH7iVm...,Selling my 2019 Toyota Tacoma TRD Off Road Dou...,NaN,al,32.6013,-85.443974,2021-05-03T12:12:59-0500
35,7316257769,auburn,https://auburn.craigslist.org,29990,2016.0,chevrolet,colorado extended cab,good,6 cylinders,gas,...,NaN,pickup,red,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-03T11:31:14-0500
36,7316133914,auburn,https://auburn.craigslist.org,38590,2011.0,chevrolet,corvette grand sport,good,8 cylinders,gas,...,NaN,other,red,https://images.craigslist.org/00U0U_kKYnS1LWh8...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-03T07:50:35-0500
37,7316130053,auburn,https://auburn.craigslist.org,4500,1992.0,jeep,cherokee,excellent,6 cylinders,gas,...,NaN,NaN,NaN,https://images.craigslist.org/01010_7EM2aot64G...,192k miles brand new TSLs 4x4 jeep xj. 4x4 wor...,NaN,al,32.6454,-85.378300,2021-05-03T07:38:05-0500
38,7315816316,auburn,https://auburn.craigslist.org,32990,2017.0,jeep,wrangler unlimited sport,good,6 cylinders,gas,...,NaN,other,silver,https://images.craigslist.org/00u0u_bB3krjp4B3...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-02T12:22:10-0500
39,7315770394,auburn,https://auburn.craigslist.org,24590,2017.0,chevrolet,silverado 1500 regular,good,6 cylinders,gas,...,NaN,pickup,white,https://images.craigslist.org/01515_iDoR0Hy6JS...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-02T10:51:08-0500
40,7315756348,auburn,https://auburn.craigslist.org,30990,2016.0,chevrolet,colorado crew cab z71,good,NaN,other,...,NaN,pickup,blue,https://images.craigslist.org/00p0p_cfEoPpHPz3...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-02T10:21:33-0500
41,7315715960,auburn,https://auburn.craigslist.org,27990,2014.0,toyota,tacoma access cab pickup,good,NaN,other,...,NaN,pickup,red,https://images.craigslist.org/00X0X_1cMDo5xqSu...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-02T08:44:35-0500
42,7315379459,auburn,https://auburn.craigslist.org,37990,2016.0,chevrolet,camaro ss coupe 2d,good,8 cylinders,gas,...,NaN,coupe,red,https://images.craigslist.org/00i0i_5fpVmidrep...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-01T12:21:51-0500
43,7315275975,auburn,https://auburn.craigslist.org,33590,2014.0,toyota,tundra crewmax sr5 pickup,good,NaN,other,...,NaN,pickup,red,https://images.craigslist.org/00Q0Q_lVfMOkbtUO...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-01T09:21:37-0500
44,7315275942,auburn,https://auburn.craigslist.org,30990,2019.0,ford,ranger supercrew xl pickup,good,NaN,other,...,NaN,pickup,black,https://images.craigslist.org/00202_4Fz2gXkV8p...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-01T09:21:34-0500
45,7315270785,auburn,https://auburn.craigslist.org,27990,2018.0,nissan,frontier crew cab pro-4x,good,6 cylinders,gas,...,NaN,pickup,silver,https://images.craigslist.org/00Q0Q_4slPoGJwoj...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-01T09:11:35-0500
46,7315039307,auburn,https://auburn.craigslist.org,0,2011.0,jeep,compass,excellent,NaN,gas,...,full-size,SUV,NaN,https://images.craigslist.org/00R0R_5Jaj1sPpiF...,Call or text now 800-213-0336 Open 9:00-6:00pm...,NaN,al,32.5475,-85.468200,2021-04-30T16:35:11-0500
47,7314910156,auburn,https://auburn.craigslist.org,34590,2018.0,ford,f150 super cab xl pickup 4d,good,6 cylinders,gas,...,NaN,pickup,white,https://images.craigslist.org/00w0w_cGdvJjETZc...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-04-30T12:51:31-0500
48,7314854462,auburn,https://auburn.craigslist.org,30590,2016.0,toyota,tacoma double cab sr5,good,NaN,other,...,NaN,pickup,red,https://images.craigslist.org/00505_3mrEfCl3fW...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-04-30T11:21:17-0500
49,7314811916,auburn,https://auburn.craigslist.org,32990,2020.0,jeep,wrangler sport suv 2d,good,NaN,gas,...,NaN,SUV,silver,https://images.craigslist.org/00w0w_c22tgqPHhy...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-04-30T10:11:01-0500

In [58]:
#datav2['age']= 2022-datav2['year'] #creating new column in dataframe

In [59]:
#datav2['age']

In [1]:
#datav2['age'].dtype  # knowing datatype of variable

In [61]:
#datav2['region']

In [62]:
#datav2['region'].unique  #displays unique entries of the particulat column

In [63]:
#datav2[datav2.age<5]  #displays data with condition

In [2]:
#datav4 = datav2[(datav2.age<5)&(datav2.price>50000)] #store data into new dataframe based on condition or/and

In [65]:
datav2['price_mile'] = datav2['price']/datav2['odometer']  #new feature creation with calculations on columns

In [69]:
datav2['price_mile']

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11          NaN
12          NaN
13          NaN
14          NaN
15          NaN
16          NaN
17          NaN
18          NaN
19          NaN
20          NaN
21          NaN
22          NaN
23          NaN
24          NaN
25          NaN
26          NaN
27     0.579908
28     0.317146
29     2.066284
30     0.753575
31     0.117188
32     0.407447
33     1.172582
34     0.813953
35     1.733326
36     1.276251
37     0.023438
38     1.098166
39     0.602933
40     0.886949
41     1.572030
42     3.914880
43     0.607953
44    16.897492
45     0.749759
46     0.000000
47     1.658516
48     1.013720
49     1.602935
Name: price_mile, dtype: float64

In [70]:
# function or defination to double the price of particular column
def pricedouble(x):
    return x*2
datav2['pricedouble'] = datav2['price'].apply(pricedouble)

In [71]:
datav2[['price','pricedouble']]

    price  pricedouble
0    6000        12000
1   11900        23800
2   21000        42000
3    1500         3000
4    4900         9800
5    1600         3200
6    1000         2000
7   15995        31990
8    5000        10000
9    3000         6000
10      0            0
11      0            0
12      0            0
13      0            0
14      0            0
15  13995        27990
16  24999        49998
17  21850        43700
18  26850        53700
19  11999        23998
20  24999        49998
21  21850        43700
22  26850        53700
23  11999        23998
24  24999        49998
25  21850        43700
26    500         1000
27  33590        67180
28  22590        45180
29  39590        79180
30  30990        61980
31  15000        30000
32  27990        55980
33  34590        69180
34  35000        70000
35  29990        59980
36  38590        77180
37   4500         9000
38  32990        65980
39  24590        49180
40  30990        61980
41  27990        55980
42  37990        75980
43  33590        67180
44  30990        61980
45  27990        55980
46      0            0
47  34590        69180
48  30590        61180
49  32990        65980

In [72]:
datav2['pr'] = datav2.price.apply(lambda x:x*4)   #function can be written and applyed using apply function and lambda is used for single line function

In [73]:
datav2[['price','pr']]

    price      pr
0    6000   24000
1   11900   47600
2   21000   84000
3    1500    6000
4    4900   19600
5    1600    6400
6    1000    4000
7   15995   63980
8    5000   20000
9    3000   12000
10      0       0
11      0       0
12      0       0
13      0       0
14      0       0
15  13995   55980
16  24999   99996
17  21850   87400
18  26850  107400
19  11999   47996
20  24999   99996
21  21850   87400
22  26850  107400
23  11999   47996
24  24999   99996
25  21850   87400
26    500    2000
27  33590  134360
28  22590   90360
29  39590  158360
30  30990  123960
31  15000   60000
32  27990  111960
33  34590  138360
34  35000  140000
35  29990  119960
36  38590  154360
37   4500   18000
38  32990  131960
39  24590   98360
40  30990  123960
41  27990  111960
42  37990  151960
43  33590  134360
44  30990  123960
45  27990  111960
46      0       0
47  34590  138360
48  30590  122360
49  32990  131960

In [30]:
mylist = ["a", "b", "a", "c", "c"]
mylist = list(dict.fromkeys(mylist))
print(mylist)

['a', 'b', 'c']

In [66]:
datav2['region']

0                   prescott
1               fayetteville
2               florida keys
3     worcester / central MA
4                 greensboro
5              hudson valley
6              hudson valley
7              hudson valley
8            medford-ashland
9                       erie
10                   el paso
11                   el paso
12                   el paso
13                   el paso
14                   el paso
15                bellingham
16                bellingham
17                bellingham
18                bellingham
19                bellingham
20                bellingham
21                bellingham
22                bellingham
23                bellingham
24     skagit / island / SJI
25     skagit / island / SJI
26                 la crosse
27                    auburn
28                    auburn
29                    auburn
30                    auburn
31                    auburn
32                    auburn
33                    auburn
34                    auburn
35                    auburn
36                    auburn
37                    auburn
38                    auburn
39                    auburn
40                    auburn
41                    auburn
42                    auburn
43                    auburn
44                    auburn
45                    auburn
46                    auburn
47                    auburn
48                    auburn
49                    auburn
Name: region, dtype: object

In [67]:
#REMOVING DUPLICATES

In [69]:
datav2['region']
datav5= list(dict.fromkeys(datav2['region']))
print(datav5)

['prescott', 'fayetteville', 'florida keys', 'worcester / central MA', 'greensboro', 'hudson valley', 'medford-ashland', 'erie', 'el paso', 'bellingham', 'skagit / island / SJI', 'la crosse', 'auburn']

In [37]:
test_list = [1, 5, 3, 6, 3, 5, 6, 1]
print ("The original list is : " +  str(test_list))
  
# using set()
# to remove duplicated 
# from list 
test_list = list(set(test_list))
  
# printing list after removal 
# distorted ordering
print ("The list after removing duplicates : " + str(test_list))

The original list is : [1, 5, 3, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 3, 5, 6]

In [70]:
datav2['region']
print ("The original list is : " +  str(datav2['region']))
  
# using set()
# to remove duplicated 
# from list 
test_list = list(set(datav2['region']))
  
# printing list after removal 
# distorted ordering
print ("The list after removing duplicates : " + str(test_list))

The original list is : 0                   prescott
1               fayetteville
2               florida keys
3     worcester / central MA
4                 greensboro
5              hudson valley
6              hudson valley
7              hudson valley
8            medford-ashland
9                       erie
10                   el paso
11                   el paso
12                   el paso
13                   el paso
14                   el paso
15                bellingham
16                bellingham
17                bellingham
18                bellingham
19                bellingham
20                bellingham
21                bellingham
22                bellingham
23                bellingham
24     skagit / island / SJI
25     skagit / island / SJI
26                 la crosse
27                    auburn
28                    auburn
29                    auburn
30                    auburn
31                    auburn
32                    auburn
33                    auburn
34                    auburn
35                    auburn
36                    auburn
37                    auburn
38                    auburn
39                    auburn
40                    auburn
41                    auburn
42                    auburn
43                    auburn
44                    auburn
45                    auburn
46                    auburn
47                    auburn
48                    auburn
49                    auburn
Name: region, dtype: object
The list after removing duplicates : ['florida keys', 'fayetteville', 'auburn', 'worcester / central MA', 'medford-ashland', 'la crosse', 'el paso', 'prescott', 'bellingham', 'greensboro', 'erie', 'skagit / island / SJI', 'hudson valley']

In [71]:
#convert the categorical variable values into numerical (label encoding)
datav2['size']=datav2['size'].map({'full-size':0,'mid-size':1,'compact':2,'sub-compact':3})

In [72]:
datav2['size'].value_counts()   #counts values of each categories

0.0    2
Name: size, dtype: int64

In [73]:
datav2.shape   #display tuple of size in (rows, columns) or no of element in each dimension

(50, 26)

In [77]:
datav2.describe()#is used to view some basic statistical details like percentile, mean, std etc.

,id,price,year,odometer,size,county,lat,long,age,price_mile,pricedouble,pr
count,5.000000e+01,50.000000,23.000000,23.000000,2.0,0.0,23.000000,23.000000,23.000000,23.000000,50.000000,50.000000
mean,7.262865e+09,19246.900000,2014.608696,47699.521739,0.0,NaN,32.591139,-85.475190,7.391304,1.733323,38493.800000,76987.600000
std,4.952944e+07,13268.776049,5.702783,42850.728957,0.0,NaN,0.015041,0.024084,5.702783,3.411094,26537.552099,53075.104197
min,7.208550e+09,0.000000,1992.000000,1834.000000,0.0,NaN,32.547500,-85.518900,2.000000,0.000000,0.000000,0.000000
25%,7.218540e+09,4925.000000,2013.500000,20718.500000,0.0,NaN,32.590000,-85.480000,4.500000,0.591420,9850.000000,19700.000000
50%,7.222724e+09,22220.000000,2016.000000,34940.000000,0.0,NaN,32.590000,-85.480000,6.000000,0.886949,44440.000000,88880.000000
75%,7.315767e+09,30890.000000,2017.500000,56587.000000,0.0,NaN,32.590000,-85.480000,8.500000,1.587483,61780.000000,123560.000000
max,7.316815e+09,39590.000000,2020.000000,192000.000000,0.0,NaN,32.645400,-85.378300,30.000000,16.897492,79180.000000,158360.000000

In [78]:
datav2.isnull().sum() #display sum of missing values in dataframe

id               0
region           0
region_url       0
price            0
year            27
manufacturer    27
model           27
condition       27
cylinders       34
fuel            27
odometer        27
title_status    27
transmission    27
VIN             31
drive           38
size            48
type            28
paint_color     29
image_url       27
description     27
county          50
state            0
lat             27
long            27
posting_date    27
age             27
price_mile      27
pricedouble      0
pr               0
dtype: int64